transformers==5.1.0
networkx==3.5
datasets==4.1.1
fastapi==0.128.0
mlflow==3.6.0
mlflow_skinny==3.6.0
mlflow_tracing==3.6.0
numpy==2.2.6
pandas<3
pydantic==2.12.5
scikit_learn==1.7.2
torch==2.9.0
torchvision==0.24.0
colorlog==6.10.1
